
*.xcworkspacedata

*.xcuserstate

*.xcsettings

Mine.xcodeproj/xcuserdata/zhili.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Mine.xcodeproj/xcuserdata/zhili.xcuserdatad/xcschemes/Mine.xcscheme

Mine.xcodeproj/xcuserdata/zhili.xcuserdatad/xcschemes/xcschememanagement.plist

*.xccheckout
